html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: indigo;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.hero{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects .row{
    margin: 50px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero, .about{
    background-color: #9d03fc;
}

.card-link{
    color: #ffd369;
    font-weight: bold;
    text-decoration: 2px underline wavy hotpink;
}

.card{
    border-radius: 0;
    color: white;
    background-color: transparent;
    border: 2px solid #9d03fc;
}

.card img{
    border-radius: 0;
}

.card-text{
    color: rgba(255, 255, 255, 0.76);
}

.hero{
    height: 300px;
}