html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: indigo;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.hero{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects .row{
    margin: 50px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero, .about{
    background-color: #9d03fc;
}

.card-link{
    color: #ffd369;
    font-weight: bold;
    text-decoration: 1px underline wavy hotpink;
}