html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: indigo;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.hero{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}